.product-detail-page-container {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: scroll;
  scrollbar-width: none;
  margin-top: 100px;
  padding: 40px;
}
